<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name= "cn" connectionString="Data Source=DESKTOP-NA7JB45\SQLEXPRESS;Initial Catalog=HogwartsSchoolSGBD;Integrated Security=True"/>
        <!--<add name= "cn" connectionString="Data Source=DESKTOP-NA7JB45\SQLEXPRESS;Initial Catalog=ClientProdusSGBD;Integrated Security=True"/>-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key= "select1" value="Select * from Profesori" />
    <add key= "select2" value="Select * from Palarii" />
    <add key= "parentTableName" value="Profesori" />
    <add key= "childTableName" value="Palarii" />
    <add key= "sharedId" value="Pid" />
    <add key= "childNumberOfColumns" value="3" />
    <add key= "childColumnNames" value="PAid,Descriere,Pid" />
    <add key= "columnNamesInsertParameters" value="@PAid,@Descriere,@Pid" />

    <!--<add key= "select1" value="Select * from Client" />
    <add key= "select2" value="Select * from Produs" />
    <add key= "parentTableName" value="Client" />
    <add key= "childTableName" value="Produs" />
    <add key= "sharedId" value="Cid" />
    <add key= "childNumberOfColumns" value="5" />
    <add key= "childColumnNames" value="Pid,Denumire,Cantitate,Pret,Cid" />
    <add key= "columnNamesInsertParameters" value="@Pid,@Denumire,@Cantitate,@Pret,@Cid" />-->
  </appSettings>
</configuration>